<launch>
  <group>
    <!-- image transport from compressed to raw -->
    <node pkg="image_transport" type="republish" name="republish_1" args="compressed">
      <remap from="/tb3_1/camera/rgb/image_raw/compressed"  to="/tb3_1/camera/rgb/image_raw" />
      <remap from="/tb3_1/camera/image/compressed"   to="/tb3_1/camera/image"/>
    </node>
    <node pkg="topic_tools" type="relay" name="relay_camera_info_1" args="/tb3_1/camera/rgb/camera_info /tb3_1/camera/camera_info"/>
  </group>

  <!-- image rectification -->
  <node ns="tb3_1/camera" pkg="image_proc" type="image_proc" name="image_proc_1" args="_approximate_sync:=true" output="screen">
    <remap from="image_raw" to="image" />
    <param name="queue_size" value="20" />
  </node>
</launch>