<launch>
  <arg name="mission_mode" default="$(env MISSION_MODE)" doc="calibration_mode type [traffic_light, intersection, construction, parking, level_crossing, tunnel]"/>
    <node pkg="turtlebot3_autorace_core" type="$(arg mission_mode)_core_node_controller" name="$(arg mission_mode)_core_node_controller" output="screen" />
    <node pkg="turtlebot3_autorace_core" type="$(arg mission_mode)_core_mode_decider" name="$(arg mission_mode)_core_mode_decider" output="screen" />
</launch>